<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "商品一覧", admin_items_path %></li>
      <li class="breadcrumb-item active" aria-current="page">商品編集</li>
    </ol>
  </nav>
  <h1 class="h2">商品編集</h1>
</div>

<div class="row">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <%= render "form", item: @item %>
      </div>
    </div>
  </div>
</div>
