<h1>管理者ダッシュボード</h1>
<div class="list-group mt-3" style="max-width: 400px;">
  <%= link_to "商品管理", admin_items_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "ユーザー管理", admin_users_path, class: "list-group-item list-group-item-action" %>
</div>
